<div class="dashboard-container">
  <div class="profile-dash text-center">

    <!-- Left Part -->

    <div class="main-dash">
      <div class="main-content">
        <h3>Welcome <%= @user.firstname %></h3>
        <% if @user.photo.url.present? %>
          <%= cl_image_tag(@user.photo.url(:bright_face)) %>
        <% else %>
          <%= image_tag "user-face.png", class: "img-circle-dashboard" %>
        <% end %>
        <br>
        <p> <%= Time.now.strftime("%b %d, %Y") %></p>
        <div class="profile-btns">
          <button type="button" class="btn-secondary form-button" data-toggle="modal" data-target="#editFormModal"> Edit Profile </button>

          <!-- Modal -->
          <div class="modal fade" id="editFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render 'form-user' %>
                </div>
              </div>
            </div>
          </div>

          <p>  <%= link_to 'All My Plants', user_path(current_user), class: "btn-secondary form-button" %></p>
          <p>  <%= link_to 'Add A Plant', new_plant_path, class: "btn-secondary form-button" %></p>

          <!-- Tabs -->
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#my-rented-plants" role="tab" aria-controls="pills-home" aria-selected="true">My Rented Plants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#my-plants" role="tab" aria-controls="pills-profile" aria-selected="false">My Plants</a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <!-- Right Part -->

    <div class="right-dash">
      <div class="tab-content" id="plants-dashboard-tab">
        <!-- My Rented Plants -->
        <div class="tab-pane fade active" id="my-rented-plants" role="tabpanel" aria-labelledby="pills-home-tab">
          <div class="pending">
            <div class="pending-bookings">
              <h3>
                Pending Plants
                <% count = 0 %>
                <% @bookings.each do |booking| %>
                  <% count += 1 if booking.status == "pending" %>
                <% end %>
                (<%= count %>)
              </h3>
              <ul>
                <li class="booking">
                  <div class="pending-booking-user-photo"></div>
                  <div class="pending-booking-plant-photo"></div>
                  <div class="pending-booking-plant"><strong>Plant</strong></div>
                  <div class="pending-booking-user"><strong>Owner</strong></div> <!-- ADD NAME INSTEAD -->
                  <div class="pending-booking-dates">
                    <div class="pending-booking-start"><strong>From</strong></div>
                    <div class="pending-booking-end"><strong>To</strong></div>
                  </div>
                </li>
                <% @bookings.each do |booking| %>
                  <% if booking.status == "pending" %>
                    <li class="booking">
                      <div class="pending-booking-plant-photo"><%= cl_image_tag booking.plant.photo, crop: :fill %></div>
                      <div class="pending-booking-user-photo">
                        <% if booking.plant.user.photo.url.present? %>
                          <%= cl_image_tag(booking.plant.user.photo.url(:bright_face)) %>
                        <% else %>
                          <%= image_tag "user-face.png", class: "img-circle-dashboard" %>
                        <% end %>
                        <%#= cl_image_tag booking.plant.user.photo %>
                      </div>
                      <div class="pending-booking-plant"><%= booking.plant.name %></div>
                      <div class="pending-booking-user"><%= booking.plant.user.firstname %> <%= booking.plant.user.lastname %></div>
                      <div class="pending-booking-dates">
                        <div class="pending-booking-start"><%= booking.starts_at.strftime("%b %d, %Y") %></div>
                        <div class="pending-booking-end"><%= booking.ends_at.strftime("%b %d, %Y") %></div>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="current">
            <div class="pending-bookings">
              <h3>
                Current Plants
                <% count = 0 %>
                <% @bookings.each do |booking| %>
                  <% count += 1 if booking.status == "accepted" && (Time.now < booking.ends_at) %>
                <% end %>
                (<%= count %>)
              </h3>
              <ul>
                <li class="booking">
                  <div class="pending-booking-user-photo"></div>
                  <div class="pending-booking-plant-photo"></div>
                  <div class="pending-booking-plant"><strong>Plant</strong></div>
                  <div class="pending-booking-user"><strong>Owner</strong></div> <!-- ADD NAME INSTEAD -->
                  <div class="pending-booking-dates">
                    <div class="pending-booking-start"><strong>From</strong></div>
                    <div class="pending-booking-end"><strong>To</strong></div>
                  </div>
                </li>
                <% @bookings.each do |booking| %>
                  <% if booking.status == "accepted" && (Time.now < booking.ends_at) %>
                    <li class="booking">
                      <div class="pending-booking-plant-photo"><%= cl_image_tag booking.plant.photo, crop: :fill %></div>
                      <div class="pending-booking-user-photo"><%= image_tag('https://cours-informatique-gratuit.fr/wp-content/uploads/2014/05/compte-utilisateur-1.png') %></div>
                      <div class="pending-booking-plant"><%= booking.plant.name %></div>
                      <div class="pending-booking-user"><%= booking.plant.user.firstname %> <%= booking.plant.user.lastname %></div>
                      <div class="pending-booking-dates">
                        <div class="pending-booking-start"><%= booking.starts_at.strftime("%b %d, %Y") %></div>
                        <div class="pending-booking-end"><%= booking.ends_at.strftime("%b %d, %Y") %></div>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <!-- My Plants -->

        <div class="tab-pane fade" id="my-plants" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="pending">
            <div class="pending-bookings">
              <h3>
                Pending Plants
                <% count = 0 %>
                <% @bookings.each do |booking| %>
                  <% count += 1 if booking.status == "pending" %>
                <% end %>
                (<%= count %>)
              </h3>
              <ul>
                <li class="booking">
                  <div class="pending-booking-user-photo"></div>
                  <div class="pending-booking-plant-photo"></div>
                  <div class="pending-booking-plant"><strong>Plant</strong></div>
                  <div class="pending-booking-user"><strong>Renter</strong></div>
                  <div class="pending-booking-dates">
                    <div class="pending-booking-start"><strong>From</strong></div>
                    <div class="pending-booking-end"><strong>To</strong></div>
                  </div>
                  <div class="pending-booking-status"><strong>Status</strong></div>
                </li>
                <% @plants.each do |plant| %>
                  <% plant.bookings.each do |booking| %>
                    <% if booking.status == "pending" %>
                      <li class="booking">
                        <div class="pending-booking-plant-photo"><%= cl_image_tag booking.plant.photo, crop: :fill %></div>
                        <div class="pending-booking-user-photo">
                          <% if booking.plant.user.photo.url.present? %>
                            <%= cl_image_tag(booking.plant.user.photo.url(:bright_face)) %>
                          <% else %>
                            <%= image_tag "user-face.png", class: "img-circle-dashboard" %>
                          <% end %>
                          <%#= cl_image_tag booking.plant.user.photo %>
                        </div>
                        <div class="pending-booking-plant"><%= booking.plant.name %></div>
                        <div class="pending-booking-user"><%= booking.user.firstname %> <%= booking.user.lastname %></div>
                        <div class="pending-booking-dates">
                          <div class="pending-booking-start"><%= booking.starts_at.strftime("%b %d, %Y") %></div>
                          <div class="pending-booking-end"><%= booking.ends_at.strftime("%b %d, %Y") %></div>
                        </div>
                        <div class="pending-booking-status">
                          <%= link_to '<i class="fa fa-check" aria-hidden="true"></i>'.html_safe, accept_booking_path(booking), method: :patch, id: "validate-green"%>
                          <%= link_to '<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, decline_booking_path(booking), method: :patch, id: "delete-red" %>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="current">
            <div class="pending-bookings">
              <h3>
                Current Plants
                <% count = 0 %>
                <% @bookings.each do |booking| %>
                  <% count += 1 if booking.status == "accepted" && (Time.now < booking.ends_at) %>
                <% end %>
                (<%= count %>)
              </h3>
              <ul>
                <li class="booking">
                  <div class="pending-booking-user-photo"></div>
                  <div class="pending-booking-plant-photo"></div>
                  <div class="pending-booking-plant"><strong>Plant</strong></div>
                  <div class="pending-booking-user"><strong>Renter</strong></div>
                  <div class="pending-booking-dates">
                    <div class="pending-booking-start"><strong>From</strong></div>
                    <div class="pending-booking-end"><strong>To</strong></div>
                  </div>
                  <div class="pending-booking-status"><strong>Status</strong></div>
                </li>
                <% @plants.each do |plant| %>
                  <% plant.bookings.each do |booking| %>
                    <% if booking.status == "accepted" && (Time.now < booking.ends_at) %>
                      <li class="booking">
                        <div class="pending-booking-plant-photo"><%= cl_image_tag booking.plant.photo, crop: :fill %></div>
                        <div class="pending-booking-user-photo"><%= image_tag('https://cours-informatique-gratuit.fr/wp-content/uploads/2014/05/compte-utilisateur-1.png') %></div>
                        <div class="pending-booking-plant"><%= booking.plant.name %></div>
                        <div class="pending-booking-user"><%= booking.user.firstname %> <%= booking.user.lastname %></div>
                        <div class="pending-booking-dates">
                          <div class="pending-booking-start"><%= booking.starts_at.strftime("%b %d, %Y") %></div>
                          <div class="pending-booking-end"><%= booking.ends_at.strftime("%b %d, %Y") %></div>
                        </div>
                        <div class="pending-booking-status">
                          <% if booking.status == "accepted" %>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                          <% else %>
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                          <% end %>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
