<div class="dashboard-container">
  <div class="profile-dash text-center">
    <div class="main-dash">
      <div class="main-content">
        <h3>Welcome </h3>
        <% if @user.photo.url.present? %>
          <%= cl_image_tag(@user.photo.url(:bright_face)) %>
        <% else %>
          <%= image_tag "https://cdn.dribbble.com/users/162725/screenshots/1166246/avatares-barambambu.gif", class: "img-circle" %>
        <% end %>
<!--         <p>@user.firstname</p>
         <p>@user.lasttname</p> -->
        <% if @user.username.present? %>
          <p><%= @user.username %></p>
        <% else %>
          <p> <%= link_to 'Complete your profile', user_path(current_user), class: "btn-secondary form-button" %></p>
        <% end %>
        <button type="button" class="btn-secondary form-button" data-toggle="modal" data-target="#editFormModal"> Edit Profile </button>
        <!-- Modal -->
        <div class="modal fade" id="editFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'form-user' %>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class= "container-form">  <%= render 'form-user' %></div> -->

        <p>  <%= link_to 'Check my plants', user_path(current_user), class: "btn-secondary form-button" %></p>
        <p> <%= Time.now.strftime("%b %d, %Y") %></p>
      </div>
    </div>
    <div class="current">
      <div class="stat-content">
        <h3>
          Pending Plants
          <% count = 0 %>
          <% @plants.each do |plant| %>
            <% plant.bookings.each do |booking| %>
              <% count += 1 if booking.status == "pending" %>
            <% end %>
          <% end %>
          (<%= count %>)
        </h3>
        <ul>
          <% @plants.each do |plant| %>
            <% plant.bookings.each do |booking| %>
              <% if booking.status == "pending"%>
                <li>
                  <%= booking.user.email %>
                  wants to rent your
                  <strong><%= plant.name %></strong>
                  from
                  <strong><%= booking.starts_at.strftime("%b %d, %Y") %></strong>
                  to
                  <strong><%= booking.ends_at.strftime("%b %d, %Y") %></strong>.
                  <%= link_to '<i class="fa fa-check" aria-hidden="true"></i>'.html_safe, accept_booking_path(booking), method: :patch, id: "validate-green"%>
                  <%= link_to '<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, decline_booking_path(booking), method: :patch, id: "delete-red" %>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="past">
      <div class="description-content">
        <h3>Current Plants</h3>
        <ul>
          <% @plants.each do |plant| %>
            <% plant.bookings.each do |booking| %>
              <% if booking.status == "accepted"%>
                  <% if (booking.starts_at < Time.now) && (Time.now < booking.ends_at) %>
                    <li> <strong><%= plant.name %></strong> is booked from <%= booking.starts_at.strftime("%b %d, %Y") %> to <%= booking.ends_at.strftime("%b %d, %Y") %></li>
                  <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>



