<%= render "shared/navbar" %>

<h1>Users show</h1>
<p><%= @user.email %></p>

<% @user.plants.each do |plant| %>
<p><%= plant.picture %></p>
<p><%= plant.name %></p>
<p><%= plant.price_per_day %></p>
<p><%= plant.address %></p>
  <% end %>




