<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 50%), url('<%= cl_image_path plant.photo, crop: :fill %>')">
  <div class="card-info-big">
    <div class="card-description">
      <h3><%= plant.name %></h3>
      <p><%= "#{plant.price_per_day} €/day" %></p>
    </div>
    <div class="card-more-description">
      <div>
        <h6><i class="fa fa-leaf" aria-hidden="true"></i>Category:</h6>
        <p><%= plant.category %></p>
      </div>
      <div>
        <h6><i class="fa fa-star" aria-hidden="true"></i>Rating:</h6>
        <p><%= plant.category %></p>
      </div>
    </div>
  </div>
  <%= link_to "", plant_path(plant), class: "card-link" %>
</div>
