<div class="col-xs-12 col-sm-4">
  <div class="card-plants" style="background-image: linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url('https://static.webshopapp.com/shops/030495/files/077109458/cactus-prinly.jpg')">
    <div class="card-category-plants"><%= plant.category %></div>
    <div class="card-description-plants">
      <h2 class="card-name-plants"><%= plant.name %></h2>
      <h3 class="card-name-plants"><%= plant.address %></h3>
    </div>
    <p class="card-price-plants">€<%= plant.price_per_day %></p>
    <img class="card-user-plants" src="#">
    <a class="card-link-plants" href="#" ></a>
    <%= link_to "", plant_path(plant), class:"card-link-plants" %>
  </div>
</div>
