<div class="content">
  <div class="main-content-index">
    <div class="search-index">
    <div class="search-bar">
      <%= form_tag plants_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query] || params[:category],
        class: "form-control",
        placeholder: "Find a plant"
        %>
      <% end %>
    </div>
    <div class="plant-categories">
      <div class="dropdown">
        <div class="btn-category" data-toggle="dropdown"> Categories </div>
        <div class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% Plant::CATEGORIES.each do |category| %>
          <li><%= link_to category, plants_path(category: category) %></li>
          <% end %>
        </div>
      </div>
  </div>
  </div>

  <div class="card-container">
    <% @plants.each do |plant| %>
        <%= render "shared/card", plant: plant %>
    <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>
