<div class="body">
  <div class="banner-plant" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),url('<%= cl_image_path @plant.photo %>')">
    <div class="banner">
    <h2><%= @plant.name %></h2>
    </div>
  </div>
        <%= link_to plants_path, class: "btn btn-back" do %>
          <i class="fa fa-long-arrow-left"></i> Back to list
        <% end %>
  <div class="container-plant">
    <div class="plant-information">
      <div id="plant-description">
        <h4>About this plant</h4>
        <h6><i class="fa fa-leaf" aria-hidden="true"></i> Category:</h6>
        <p><%= @plant.category %></p>
        <h6><i class="fa fa-info" aria-hidden="true"></i> Instructions: </h6>
          <p><%= @plant.instruction %></p>
        <h6><i class="fa fa-location-arrow" aria-hidden="true"></i> Address:</h6>
          <p><%= @plant.address %></p>
        <h6><i class="fa fa-eur" aria-hidden="true"></i> Price/day: </h6>
        <p class="price-per-day"><%= @plant.price_per_day %></p>
        <h6><i class="fa fa-user" aria-hidden="true"></i> Owner: </h6>
        <p><%= @plant.user.firstname %> <%= @plant.user.lastname %>
           <%= mail_to @plant.user.email, '<i class="fa fa-envelope" aria-hidden="true"></i>'.html_safe %></p>
      </div>
      <div id="plant-reviews">
          <% if @plant.reviews.any? %>
            <h6><i class="fa fa-comments-o" aria-hidden="true"></i> Reviews about the plant: </h6>
              <div class="review-content"> <% @plant.reviews.each do |review| %>
              <% review.rating.times do %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>
              <% (5 - review.rating).times do %>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              <% end %>
             <p><%= review.content %></p>
            <% end %>
            </div>
          <% else %>
          <h6><i class="fa fa-comments-o" aria-hidden="true"></i> No reviews about this plant yet ! </h6>
       <% end %>
       <br>
      </div>
    </div>
      <div id="booking-form" data-dates="<%= @disabled.to_json %>">
      <%= render "shared/form" %>
      </div>
  </div>
    <div class="map">
      <h6><i class="fa fa-map-marker" aria-hidden="true"></i> Location of the plant: <br></h6>
      <div id="map" style="width: 100%; height: 300px;" data-markers="<%= @marker.to_json %>"></div>
    </div>
</div>
