<div class="body">
  <div class="banner-plant" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),url('<%= cl_image_path('cactus_jvafsx') %>');">
    <div class="banner">
    <h2><%= @plant.name %></h2>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div id="plant-description">
        <h4>About this plant</h4>
          <ul>
            <li><i class="fa fa-leaf" aria-hidden="true"></i> Category:  <p><%= @plant.category %></p></li>
            <li><i class="fa fa-info" aria-hidden="true"></i> Instructions: <p><%= @plant.instruction %></p></li>
            <li><i class="fa fa-location-arrow" aria-hidden="true"></i> Address: <p><%= @plant.address %></p></li>
            <li><i class="fa fa-eur" aria-hidden="true"></i> Price/day: <p><%= @plant.price_per_day %> € </p></li>
          </ul>
        </div>
      </div>
      <div id="booking-form" data-dates="<%= @disabled.to_json %>" class="col-xs-12 col-sm-6">
        <%= render "shared/form" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div id="user-description">
          <h4>About the user</h4>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/Alexialet", class: "img-circle" %>
          <%= @plant.user.email %>
        </div>
      </div>
    </div>
  </div>
      <%= link_to "Back to list", plants_path, class: "btn btn-secondary" %>
